<style>
     .colunas {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  columns: 2;}

div.caixa1 {
  display: inline-block;
  border: 2px solid black;
  column-count: 1;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}


div.caixa2{display: inline-block;
border: 2px solid black;
box-sizing: border-box;
padding: 10px}
    div {
      margin-top: 50px;
      text-align: center;
     
      
    }
    h1 {font-size: 60px;
      color: white;
    }

    p{color:whitesmoke; font-size: 25px;}
  body { background: linear-gradient(to right, yellow 0%, red 50%, green 80%)};
  content-info{color:whitesmoke}
    img{border-radius: 20px;}
    div.caixa4{ border: 1px solid black;
      box-sizing: border-box;}
  </style>